@import '../sass/mixins/borders.scss';

div.container {
    border: 1px solid blue;
    width: 100vw;

    & > * {
        width: 100vw;
    }

    & > nav {
        height: 72px;
    }

    & > body {
        height: auto;

        & > header {
            @include Debug(green);
            height: calc(100vh + 300px);
        }

        & > section.t {
            // @include Debug();
            height: 1500px;
        }
    }
}