@import '../sass/mixins/borders.scss';

div.container {
    border: 1px solid blue;
    width: 100vw;

    & > * {
        width: 100vw;
    }

    & > nav {
        height: 72px;
        // @include Debug(blue);
    }

    & > body {
        height: auto;
        // @include Debug(yellow);

        & > header {
            @include Debug(green);
            height: calc(100vh + 300px);
        }

        // & > section.f{
        //     @include Debug(aqua);
        //     height: 1240px;
        // }

        // & > section.t {
        //     @include Debug();
        //     height: 1500px;
        // }

        // & > section.fo {
        //     @include Debug(black);
        //     height: 780px;
        // }
    }
}