@import "../../sass/constants/colors.scss";
@import "../../sass/mixins/alignment.scss";
@import "../../sass/mixins/borders.scss";
@import "../../sass/mixins/others.scss";

div.container {
    // @include Debug();
    @include GridCenter();
    @include Rectangle(100vw, 1480px);

    & > div.body1_container {
        // @include Debug(green);
        @include Rectangle(80%, 100%);
        @include Flex(column, space-between);

        & > div.title {
            font-size: 70px;
            // @include Debug();
            color: #70707B;
            margin-bottom: 60px;

            & > p {
                & > span {
                    color: #26272B;
                }
            }
        }

        & > div.company {
            @include Rectangle(80%, 280px);
            width: 100%;
            // @include Debug(yellow);
            @include Flex(column);
            div.company_container {
                height: 260px;
                // @include Debug();
                @include Flex(column, space-evenly);
                width: 80%;

                & > p {
                    // @include Debug(blue);
                    color: #70707B;
                    margin-bottom: 10px;
                    font-size: 20px;
                }

                & > div.image_grid {
                    // @include Debug(green);
                    height: 95px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    column-gap: 0;
                    row-gap: 0;

                    & > img {
                        // @include Debug(yellow);
                        width: 130px;
                        height: 35px;
                    }
                }
            }
        }


        & > div.grid {
            @include Rectangle(100%, 950px);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 20px;
            column-gap: 20px;
            // @include Debug(yellow);

            & > div {
                // @include Debug();
                height: 320px;
                a {
                    text-decoration: none;
                }
            }

            & > div.fade {
                visibility: hidden;
            }

            & > div:is(:nth-child(4), :nth-child(6), :nth-child(7), :nth-child(9)){
                margin-top: -150px;
            }
        }
    }
}