@import "../../sass/constants/colors.scss";
@import "../../sass/mixins/alignment.scss";
@import "../../sass/mixins/borders.scss";
@import "../../sass/mixins/others.scss";

div.container {
    // @include Debug();
    height: 1650px;
    width: 100vw;
    @include GridCenter();

    & > div.footer_container {
        height: 100%;
        @include Flex(column);


        & > div {
            flex-basis: 50%;
        }

        & > div.top {
            // @include Debug(aqua);
            width: 100vw;
            @include Flex(column);

            & > div {
                flex-basis: 50%;
            }

            & > div:first-child {
                margin-bottom: 20px;
                border-radius: 50px 50px 20px 20px;
                background-color: $footer-top-card-bg-color;
                color: white;

                & > div.cd_container {
                    // @include Debug(green);
                    @include Flex(column);

                    & > div {
                        margin: 10px;
                        // @include Debug(yellow);
                    }

                    & > div.title {
                        color: $footer-card-t-text-titles;
                        p {
                            font-size: 70px;

                            span {
                                color: $footer-card-t-text-titles-clear;
                            }
                        }
                    }

                    & > div.button {
                        button {
                            width: 160px;
                            height: 44px;
                            border: none;
                            color: black;
                            background-color: white;
                            border-radius: 40px;
                            font-size: 18px;
                        }
                    }

                    & > div.description {
                        // @include Debug();
                        color: $footer-card-t-text-titles;

                        & > p {
                            // @include Debug(green);
                            text-align: left;
                            width: 70%;
                            font-size: 23px;
                        }
                    }
                }
            }

            & > div:last-child {
                background-color: $footer-bot-card-bg-color;
                border-radius: 20px 20px 50px 50px;

                & > div.cd_container {
                    @include Flex(column, space-between);

                    & > div.title {
                        color: $footer-card-l-text-color;
                        p {
                            font-size: 70px;
                        }
                    }

                    & > div.terms {
                        & > * {
                            color: $footer-card-l-text-min-color;
                            margin: 10px;
                        }

                        & > a {
                            color: $footer-card-l-text-color;
                            text-decoration: none;
                            font-size: 20px;
                        }
                    }

                    & > div.description {
                        color: $footer-card-l-text-min-color;
                        p {
                            font-size: 23px;
                        }
                    }

                    & > div.input {
                        height: 55px;

                        & > div.input_container {
                            // @include Debug(red);
                            @include Rectangle(435px, 100%);
                            border-radius: 40px;
                            @include Flex();
                            height: 52px;
                            position: relative;
                            background-color: white;

                            & > input {
                                flex-basis: 70%;
                                height: 100%;
                                font-size: 20px;
                                background-color: none;
                                border: none;
                                left: 20px;
                                margin-left: 10px;

                                &:focus {
                                    outline: none;
                                }
                            }

                            & > * {
                                position: absolute;
                            }

                            & > div.icon {
                                right: 8px;
                                flex-basis: 20%;
                                height: 45px;
                                width: 60px;
                                background-color: #155EEF;
                                border-radius: calc(40px - 12px);
                                @include GridCenter();
                            }
                        }
                    }
                }
            }

            & > div.footer_card {
                width: calc(100vw - 300px);
                // @include Debug(green);
                @include GridCenter();

                & > div.cd_container {
                    width: 80%;
                    height: 70%;

                    & > div {
                        @include Flex(row, flex-start);
                        width: 100%;
                    }
                }
            }
        }

        & > div.bottom {
            // @include Debug(yellow);
            @include Flex(column, flex-end, center);
            height: 600px;
            margin-bottom: 50px;

            & > div.main {
                height: 360px;
                width: 80vw;
                // @include Debug(green);

                @include Flex();

                & > div {
                    // @include Debug(yellow);
                    @include Square(100%);
                    flex-basis: 50%;
                }

                & > div.left {
                    & > div {
                        @include Rectangle(100%, 40px);
                    }

                    & > div.logo {
                        div {
                            @include Square(40px);

                            img {
                                // width: 100%;
                                @include Square(100%);
                                object-fit: fill;
                            }
                        }
                    }

                    & > div.description {
                        @include Flex(row, flex-start);
                        color: #70707B;
                    }
                }

                & > div.right {
                    @include Flex();

                    & > div {
                        @include Square(100%);
                        // @include Debug();

                        & > * {
                            text-align: left;
                            margin: 15px;
                        }

                        & > p {
                            font-size: 20px;
                        }

                        & > ul {
                            list-style-type: none;

                            li {
                                margin-bottom: 20px;
                                a {
                                    color: #70707B;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }

            & > div.sub {
                height: 240px;
                width: 100vw;
                // @include Debug();
                @include Flex(column, flex-start);

                & > div.sub_container {
                    width: 80%;
                    // @include Debug(green);
                    margin-top: 30px;
                    height: 45px;
                    padding-top: 30px;
                    border-top: 1px solid #F4F4F5;

                    @include Flex();

                    & > div {
                        // @include Debug(green);
                        flex-basis: 50%;
                        height: 30px;

                        &:first-child {
                            color: #70707B;
                            font-size: 20px;
                            @include Flex(row, flex-start);
                        }

                        &:last-child {
                            @include Flex(row, flex-end);
                            & > * {
                                color: #D1D1D6;
                                margin: 10px;
                                &:hover {
                                    color: #70707B;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}